{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}trauma is fun!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/trauma.css" %}">
</head>
<body>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>