{% extends "traumafun/base.html" %}

{% block content %}
{% for part in toot %}
    <div class="wrapper" style="margin-left: {{ part.depth }}em">
        {% if part.spoiler_text %}
        <div class="spoiler-text">
            CN: {{ part.spoiler_text }}
        </div>
        {% endif %}
        <div class="post">
            {{ part.content|safe }}
        </div>
    </div>
{% endfor %}
{% endblock %}