html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;

    scrollbar-color: #262a4d #101021;
    scrollbar-width: auto;
}

body {
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(#101021, #080917);
}

main {
    font-size: 16px;
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #DCE0DA;
    background-color: #080917;
}

a {
    color: #C78283;
    text-decoration: none;
    filter: drop-shadow(0 0 5px #C78283);
}

.wrapper:not(:first-child) {
    border-left: #C78283 2px dotted;
    padding-left: 10px;
}

.post > p {
    background-color: #101021;
    padding: 0.5em;
    padding-left: 10px;
    border-radius: 10px;
}

::selection {
    background-color: rgba(150, 131, 196, 0.3);
}

@media only screen and (min-width: 640px) {
    main {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) {
    main {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    main {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1200px) {
    main {
        width: 1200px;
        font-size: 24px;
    }
}
